{% extends 'base.html' %}

{% block head_title %}{{ title }}{% endblock head_title %}

{% load static %}

{% block content %}
    
    <section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section>


		<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/team-about.jpg' %});">
					</div>
					<div class="col-md-6 wrap-about py-md-5 ftco-animate">
	          <div class="heading-section p-md-5">
	            <h2 class="mb-4">We Put People First.</h2>

	            <p>Dream it!, we will work to accomplish what is important to you and assist you in a personalized manner.
                    We consider it a real privilege to guide and accompany our clients in the purchase
                    home by offering all the services essential and real estate expertise to the realization of their projects.</p>
	                <p>We'll give you the time and attention you expect from a professional real estate agent,
                        always demonstrating the highest levels of honesty, integrity, and professionalism.</p>
                        <p>From formalities to after-sales service, through taxation, bank financing,
                            or even the renovation of your property, we have brought together the professionals who will be able
                            to support you and make your experience as smooth as possible.</p>
                            <p>Our approach allows us to deliver a unique customer experience based on 3 fundamental pillars:
                                excellent service, personalized support, and tailor-made solution.</p>
	          </div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-counter img" id="section-counter">
    	<div class="container">
    		<div class="row">
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="305">0</strong>
                <span>Area <br>Population</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="1090">0</strong>
                <span>Total <br>Properties</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="209">0</strong>
                <span>Average <br>House</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="67">0</strong>
                <span>Total <br>Branches</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Testimonial</span>
            <h2 class="mb-3">Happy Clients</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">I am not sure how you can have a better agent than Emelia and their entire team. If we ever need to sell our current home, we know exactly who to call when the time comes =).</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url({% static 'images/person_01.jpg' %})"></div>
                    	<div class="pl-3">
		                    <p class="name">Tatiana Boyle</p>
		                    <span class="position">Marketing Manager</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">We couldn’t be more happy with the service we received from Emelia
                        and will definitely recommend them to everyone we know!</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url({% static 'images/person_02.jpg' %})"></div>
                    	<div class="pl-3">
		                    <p class="name">Aysha Decker</p>
		                    <span class="position">Financial advisor</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">Myla made us feel like friends and they made the whole process feel easy.</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url({% static 'images/person_03.jpg' %})"></div>
                    	<div class="pl-3">
		                    <p class="name">Brooklyn Montoya</p>
		                    <span class="position">Literary agent</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">I would strongly recommend Bridie to anyone looking to buy or sell a home,
                        especially if they are first-time homebuyers.
                        I would trust them with my eyes closed and their attention to detail and level
                        of time/dedication to their clients is outstanding.</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url({% static 'images/person_04.jpg' %})"></div>
                    	<div class="pl-3">
		                    <p class="name">Harriett House</p>
		                    <span class="position">Costume designer</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">I cannot say enough about my experience with Earl.
                        They set the highest standards, and truly practice “service above self.
                        ” You won this customer!</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url({% static 'images/person_05.jpg' %})"></div>
                    	<div class="pl-3">
		                    <p class="name">Hugh Estes</p>
		                    <span class="position">Paramedic</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock content %}